body {
    background: #002f2f;
    color: #e6e2af;
    font-family: 'Mukta', sans-serif;
    font-size: 1.2em;
}
a {
    background: #000000;
    color: aliceblue;
    display: block;
    text-decoration: none;
    padding: 10px; 
    text-align: center;
    border-bottom: 1px solid white;
}
@media (min-width: 800px) {
a {
    border-bottom: none;
    border-right: 1px solid white;
    width: 25%
  }
h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;
}
h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.8em;
}

h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
}

.logo {
    width: 150px;
    height: 150px;
}
