body {
    background: #002f2f;
    color: #e6e2af;
    font-family: 'Mukta', sans-serif;
    font-size: 1.2em;
}
h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;
}
h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.8em;
}

h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
}